<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">

  <servlet>
    <servlet-name>script</servlet-name>
    <servlet-class>io.purplejs.servlet.ScriptServlet</servlet-class>
    <init-param>
      <param-name>resource</param-name>
      <param-value>/app/main.js</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>script</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
